* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 20px;
    background-color: rgb(125, 125, 235);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-left: 20px;
}

.user-info {
    margin-right: 20px;
}

.user-info span {
    margin-right: 20px;
}

.btn-logout {
    background-color: #ff4b5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #ff1c38;
}

main {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.link-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90%;
}

.class-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.class-card h2 {
    margin-bottom: 20px;
}

.dashboard-link {
    background-color: rgb(125, 125, 235);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px 0;
    display: inline-block;
}

.dashboard-link:hover {
    background-color: #07001f;
}
